body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
  }

  .hero {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 5px;
  }

  .header-logo {
    font-size: 24px;
    color: #F9FAF8;
  }

a, .hero-secondary {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0px 50px;
  flex-wrap: wrap;
  flex: auto;
}

.text-and-signup {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
}

.hero-image {
  height: auto;
  width: 450px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 300px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.sign-up {
  background-color: #3882F6;
  color: #E5E7EB;
  width: 120px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}