body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }

  .hero {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 5px;
  }

  .header-logo {
    font-size: 24px;
    color: #F9FAF8;
  }

a, .hero-secondary {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0px 50px;
  flex-wrap: wrap;
  flex: auto;
}

.text-and-signup {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
}

.hero-image {
  height: auto;
  width: 350px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 300px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.sign-up {
  background-color: #3882F6;
  color: #E5E7EB;
  width: 120px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

.info-main {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.info-1, .info-2, .info-3, .info-4 {
  max-width: 150px;
  flex-shrink: 0;
}

.info-img {
  border-style: solid;
  border-width: 5px;
  border-radius: 16px;
  width: 150px;
  height: 150px;
  border-color: #3882F6;
}

.info-img-text {
  text-align: center;
  margin-top: 10px;
}

.information {
  margin-top: 50px;
}